---
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/Gallery.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Astro Transitions">
  <main class="container mx-auto">
    <Hero />
    <Gallery />
  </main>
</Layout>
