---
import { Icon } from "astro-icon/components";
---

<section class="bg-neutral-100 dark:bg-gray-900">
  <div class="px-32 flex flex-col justify-center items-center">
    <Icon name="nike" size={250} class="dark:text-white" />
    <h1
      class="text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xld dark:text-white"
    >
      NUEVOS INGRESOS
    </h1>
  </div>
</section>
